amqp
asgiref
billiard
certifi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-common-helpers
django-crontab
django-ninja
django-ratelimit
djangorestframework
idna
kombu
mysqlclient
prompt-toolkit
psycopg2
pydantic
PyMySQL
pytz
requests
six
sqlparse
typing-extensions
tzdata
urllib3
vine
wcwidth

