asgiref
backports.zoneinfo
Django
sqlparse
tzdata
beautifulsoup4
bs4
Django
django-crontab
django-import-export
django-ninja
django-pandas
django-ratelimit
gunicorn
import-export
mysqlclient
pydantic
PyMySQL
requests
soupsieve
sqlparse
