<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true" id="myLarge">
    <div class="modal-dialog modal-lg" style="max-width: 720px;">
        <div class="modal-content">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myLargeModalLabel">앱 상세보기</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="canvas1"></div>
                    <table class="flake-ui table second small rect use-selection bordered">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 12%" class="center">아이콘</th>
                            <th scope="col" style="width: 40%" class="center">앱이름</th>
                            <th scope="col" style="width: 12%" class="center">마켓</th>
                            <th scope="col" style="width: 12%" class="center">분야</th>
                            <th scope="col" style="width: 12%" class="center">일자</th>
                            <th scope="col" style="width: 12%" class="center">순위</th>
                        </thead>
                        <tbody id="trackingTable"></tbody>
                    </table>
                    <div id="canvas2"></div>
                    <table class="flake-ui table second small rect use-selection bordered">
                        <thead>
                        <tr>
                            <th scope="col" style="width: 15%" class="center">아이콘</th>
                            <th scope="col" style="width: 35%" class="center">앱이름</th>
                            <th scope="col" style="width: 35%" class="center">측정일</th>
                            <th scope="col" style="width: 15%" class="center">다운로드</th>
                        </thead>
                        <tbody id="downloadTable"></tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
</div>
