<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="flake-ui table second small rect use-selection bordered">
                    <thead>
                    <tr>
                        <th scope="col" style="width: 36px" class="center">아이콘</th>
                        <th scope="col" style="width: 60px" class="center">앱이름</th>
                        <th scope="col" style="width: 100px" class="center">패키지</th>
                        <th scope="col" style="width: 20px" class="center">추적</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
