<div class="title-bar">
    <label>
        랭킹래ㅇ킹
    </label>
    <div class="flake-ui breadcrumb primary small">
        <a class="button" href="/statistic/google/realtime/app">
            각 스토어 랭킹 정보
        </a>
        <span class="separator"></span>
        <a class="button" href="/my_rank">
            등록한 앱 랭킹 정보
        </a>
        <span class="separator"></span>
        <a class="button" href="/ranking">
            원 스토어 랭킹 체크
        </a>
        <span class="separator"></span>
        <a class="button" href="/register">
            새로운 앱 등록 하기
        </a>
    </div>
</div>
