{% extends "base.html" %}
{% load static %}
{% block title %}STATISTIC{% endblock %}
{% block content %}
    <main id="root">
        <div class="flake-ui bordered card-body">
            <form method="post">
                {% csrf_token %}
                <div class="flake-ui input dark small round input-group mh-3 mv-3 bg-dark text-white search">
                    <input
                            id="search-input"
                            placeholder="앱 이름 or 패키지 명"
                            type="text"
                            class="form-control bg-dark text-white"
                            aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            onclick="searchInModal()">Search
                    </button>
                </div>
                <p class="description">검색하실 앱 또는 퍼블리셔 명을 2글자 이상 입력하시고 <b>검색</b>버튼을 눌러주세요.</p>
            </form>
        </div>
        <table class="flake-ui table second small rect use-selection bordered "
               style="border-radius: 0.25rem;">
            <thead>
            <tr>
                <th scope="col" style="width: 10%">
                    <div>앱 아이콘
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 20%">
                    <div>앱 이름
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 15%">
                    <div>날짜
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 10%">
                    <div>스토어
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>기간
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>분야
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>다운
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div>순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="my-rank-table-body">
            </tbody>
        </table>
    </main>
    {% include "includes/modal.html" %}
    {% include "includes/bigger_modal.html" %}
{% endblock %}
{% block script %}
    <script>
        $(window).keydown(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                if ($("#search-input").val()) {
                    searchInModal();
                }
            }
        })

        const searchInModal = () => {
            let query = $("#search-input").val()
            $("#modalTableBody").empty()
            axios.post(`/v1/ranking?query=${query}`)
                .then((res) => {
                    $("#staticBackdrop")?.modal("show")
                    _.forEach(res.data.items, (item) => {
                        let {id, app_name, icon_url, market_appid} = item
                        let link
                        if (icon_url.includes("onestore")) {
                            link = `https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=${market_appid}`
                        } else if (icon_url.includes("google")) {
                            link = `https://play.google.com/store/apps/details?id=${market_appid}`
                        } else {
                            link = `https://apps.apple.com/kr/app/id${market_appid}`
                        }
                        let template = `<tr>
                        <td class="center"><img src="${icon_url}" width="36" height="36" alt="${id}"></td>
                        <td class="left"><a href="${link}">${app_name}</a></td>
                        <td class="left">${market_appid}</td>
                        <td class="center"><button onclick="track('${app_name}')">추적</button>
                        </td></tr>`
                        $("#modalTableBody").append(template)
                    })
                })
        }

        const drawRankingChart = (market, followID, dealType) => {
            $('#myChart1').remove()
            axios.get(`/v2/tracking/statistics?app=${followID}&deal_type=${dealType}&market=${market}`)
                .then((res) => {
                    if (!res.data.items.length) {
                        $("#myLarge #trackingTable")
                            .append("<tr><td></td><td>데이터가 없어요</td><td>데이터가 없어요</td><td></td></tr>");
                        return
                    }
                    _.forEachRight(res.data.items, (item, i) => {
                        if (i % 6 !== 0) return
                        let {app, app_name, chart_type, created_at, icon_url, market, rank} = item
                        let template = `<tr>
                        <td class="center"><img src="${icon_url}" alt=${app} width="24"></td>
                        <td class="center">${app_name}</td>
                        <td class="center">${market}</td>
                        <td class="center">${chart_type}</td>
                        <td class="center">${moment(created_at).format("MM.DD HH:mm")}</td>
                        <td class="center">${rank} 위</td></tr>`
                        $("#myLarge #trackingTable").append(template)
                    })
                    $("#canvas1").append(`<canvas id="myChart1" width="600" height="200"></canvas>`)
                    let ctx1 = document.getElementById('myChart1').getContext('2d');
                    let labels1 = _.map(res.data.items, item => moment(item['created_at']).format("DD일 HH시"))
                    let data1 = {
                        labels: labels1,
                        datasets: [{
                            label: "실시간 랭킹",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: _.map(res.data.items, item => item["rank"])
                        }]
                    }
                    let config1 = {
                        type: 'line',
                        data: data1,
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    reverse: true,
                                    min: 0,
                                    max: 50,
                                },
                            }
                        }
                    }
                    let myChart1 = new Chart(
                        ctx1,
                        config1
                    )
                    myChart1.draw()
                })
        }

        const drawDownloadsChart = (marketPackage) => {
            $("#myLarge tbody").empty()
            $('#myChart2').remove()
            axios.get(`/v2/downloads?app=${marketPackage}`)
                .then((res) => {
                    if (!res.data.items.length) {
                        $("#myLarge #downloadTable")
                            .append("<tr><td></td><td>데이터가 없어요</td><td>데이터가 없어요</td><td></td></tr>");
                        return
                    }
                    _.forEachRight(res.data.items, (item, i) => {
                        if (i % 6 !== 4) return
                        let {app, app_name, created_at, downloads, icon_url,} = item
                        let template = `<tr>
                        <td class=""><img src="${icon_url}" alt=${app} width="24"></td>
                        <td class="">${app_name}</td>
                        <td class="">${moment(created_at).format("YY.MM.DD. HH:mm")}</td>
                        <td class="">${downloads}</td>
                        </tr>`
                        $("#myLarge #downloadTable").append(template)
                    })
                    $("#canvas2").append(`<canvas id="myChart2" width="600" height="200"></canvas>`)
                    let ctx2 = document.getElementById('myChart2').getContext('2d');
                    let labels2 = _.map(res.data.items, item => moment(item['created_at']).format("DD일 HH시"))
                    let data2 = {
                        labels: labels2,
                        datasets: [{
                            label: "다운로드 수",
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: _.map(res.data.items, item => item["downloads"])
                        }]
                    }
                    let config2 = {
                        type: 'line',
                        data: data2,
                        options: {
                            responsive: true,
                            scales: {
                                y: {
                                    reverse: false,
                                },
                            }
                        }
                    }
                    let myChart2 = new Chart(
                        ctx2,
                        config2
                    )
                    myChart2.draw()
                })
        }

        const showStatistic = (market, marketPackage, follow_id, deal_type) => {
            $("#myLarge")?.modal("show")
            drawDownloadsChart(marketPackage)
            drawRankingChart(market, follow_id, deal_type)
        }

        const rankType = rankString => {
            if (rankString === "gross") return "매출"
            if (rankString === "free") return "무료"
            if (rankString === "paid") return "유료"
        }

        const getLink = (packageName, marketString) => {
            if ((marketString === "one") || (packageName.startsWith('0000'))) {
                return `https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=${packageName}`
            } else if (marketString === "apple") {
                return `https://www.similarweb.com/app/app-store/${packageName}/statistics/`
            } else if (marketString === "google") {
                return `https://play.google.com/store/apps/details?id=${packageName}`
            }
            return "#"
        }

        const getStoreIcon = market => {
            if (market === "google") return Google
            else if (market === "apple") return Apple
            else if (market === "one") return oneStore
        }

        axios.get(`/v2/follow/list`)
            .then(res => {
                $("#my-rank-table-body").empty()
                return res.data.items
            }).then(items =>
            _.forEach(_.sortBy(items, item=>item['market']), (item) => {
                let {id, updated_at, market_appid} = item;
                axios.get(`/v2/tracking/last?app=${id}`)
                    .then((res) => {
                        let {
                            chart_type,
                            following,
                            app,
                            created_at,
                            app_name,
                            deal_type,
                            icon_url,
                            market,
                            rank
                        } = res.data;
                        let template = `<tr>
                    <td class="center" id="">
                    <img alt="app-icon" title="${following}"
                     class="app-icon" width="24" height="24" src="${icon_url}"></td>
                    <td class="center" id=""><span onclick="showStatistic('${market}', '${market_appid}', '${following}', '${deal_type}')">${app_name}</span></td>
                    <td class="center" id="">${moment(updated_at).fromNow()} 등록</td>
                    <td class="center" id=""><a href="${getLink(market_appid, market)}">${getStoreIcon(market)}</a></td>
                    <td class="center" id="">${deal_type === "market_rank" ? "일간" : "실시간"}</td>
                    <td class="center" id="">${rankType(chart_type)}</td>
                    <td class="center" id="">${market !== "one" ? "-" : "$원스토어"}</td>
                    <td class="center" id="">${moment().isSame(created_at, "date") ? `${rank} 위` : "-"}<br><small>(${moment(created_at).format("YY.MM.DD. HH:mm")})</small></td></tr>`
                        if (template.includes("$원스토어")) {
                            axios.get(`/v2/down/last?app=${market_appid}`)
                                .then((res) => {
                                    $("#my-rank-table-body").append(template.replace("$원스토어", `${(res.data["downloads"]).toLocaleString()} <br><small>(${moment(res.data['created_at']).format("MM/DD")})</small>`))
                                })
                        } else {
                            $("#my-rank-table-body").append(template)
                        }
                    })
            }))
    </script>
{% endblock %}
