{% extends "base.html" %}
{% load static %}
{% block title %}STATISTIC{% endblock %}
{% block content %}
    <main id="root">
        <div class="flake-ui bordered card-body">
            <form method="post">
                {% csrf_token %}
                <div class="flake-ui input dark small round input-group mh-3 mv-3 bg-dark text-white search">
                    <input
                            id="search-input"
                            placeholder="앱 이름 or 패키지 명"
                            type="text"
                            class="form-control bg-dark text-white"
                            aria-label="Text input with dropdown button">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            onclick="searchInModal()">Search
                    </button>
                </div>
                <p class="description">검색하실 앱 또는 퍼블리셔 명을 2글자 이상 입력하시고 <b>검색</b>버튼을 눌러주세요.</p>
            </form>
        </div>
        <table class="flake-ui table second small rect use-selection bordered "
               style="border-radius: 0.25rem;">
            <thead>
            <tr>
                <th scope="col" style="width: 5%">
                    <div>#
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 10%">
                    <div>앱 아이콘
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 20%">
                    <div>앱 이름
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 15%">
                    <div>날짜
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 10%">
                    <div>스토어
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>기간
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>분야
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col" style="width: 8%">
                    <div>다운
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div>순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="my-rank-table-body">
            </tbody>
        </table>
    </main>
    {% include "includes/modal.html" %}
{% endblock %}
{% block script %}
    <script>
        $(window).keydown(function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                if ($("#search-input").val()) {
                    searchInModal();
                }
            }
        })

        const searchInModal = () => {
            let query = $("#search-input").val()
            $("div.modal-body tbody").empty()
            axios.post(`/api/ranking?query=${query}`)
                .then((res) => {
                    $("#staticBackdrop")?.modal("show")
                    _.forEach(res.data.items, (item) => {
                        let {id, app_name, icon_url, package_name} = item
                        let link = parseInt(package_name)
                            ? `https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=${package_name}`
                            : `https://play.google.com/store/apps/details?id=${package_name}`
                        let template = `<tr>
                        <td class="center"><img src="${icon_url}" width="36" height="36" alt="${id}"></td>
                        <td class="left"><a href="${link}">${app_name}</a></td>
                        <td class="left">${package_name}</td>
                        <td class="center"><button onclick="track('${app_name}')">추적</button>
                        </td></tr>`
                        $("div.modal-body tbody").append(template)
                    })
                })
        }

        const rankType = rankString => {
            if (rankString === "gross") return "매출"
            if (rankString === "free") return "무료"
            if (rankString === "paid") return "유료"
        }

        const getLink = (marketString, packageName) => {
            if (marketString === "one") {
                return `https://m.onestore.co.kr/mobilepoc/apps/appsDetail.omp?prodId=${packageName}`
            } else if (marketString === "apple") {
                return `https://www.similarweb.com/app/app-store/${packageName}/statistics/`
            } else if (marketString === "google") {
                return `https://play.google.com/store/apps/details?id=${packageName}`
            }
            return "#"
        }

        const getStoreIcon = market => {
            if (market === "google") return Google
            else if (market === "apple") return Apple
            else if (market === "one") return oneStore
        }

        axios.get(`/v2/follow/list`)
            .then(res => {
                $("#my-rank-table-body").empty()
                return res.data.items
            }).then(items => _.forEach(items, (item) => {
                let {id, market_appid} = item;
            axios.get(`/v2/tracking/last?app=${id}`)
            .then((res)=>{
                let {chart_type, following, app, app_name, created_at, deal_type, icon_url, market, rank } = res.data;
                let template = `<tr><td>${id}</td>
                    <td class="center" id="">
                    <img alt="app-icon" title="${following}"
                     class="app-icon" width="38" height="38" src="${icon_url}"></td>
                    <td class="center" id="">${app_name}</td>
                    <td class="center" id="">${moment(created_at).fromNow()} 등록</td>
                    <td class="center" id=""><a href="${getLink(market, market_appid)}">${getStoreIcon(market)}</a></td>
                    <td class="center" id="">${deal_type === "market_rank" ? "일간" : "실시간"}</td>
                    <td class="center" id="">${rankType(chart_type)}</td>
                    <td class="center" id="">${market !== "one" ? "-" : "$원스토어"}</td>
                    <td class="center" id="">${rank} 위 <br><small>(${moment(created_at).format("YY.MM.DD. HH:mm")})</small></td></tr>`
                if (template.includes("$원스토어")) {
                    axios.get(`/v2/down/last?app=${app}`)
                    .then((res) => {
                        $("#my-rank-table-body").append(template.replace("$원스토어", (res.data["downloads"]).toLocaleString()))
                    })
                } else {
                    $("#my-rank-table-body").append(template)
                }
            })
        }))
    </script>
{% endblock %}
