{% extends "base.html" %}
{% load static %}
{% block title %}RANKING{% endblock %}
{% block content %}
    <main id="root">
        <table class="flake-ui table second small rect use-selection bordered" style="border-radius: 0.25rem;">
            <thead>
            <tr>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('market_appid')">앱 ID
                        <div class="column-sort"></div>
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('app_name')">앱이름
                        <div class="column-sort"></div>
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('downloads')">다운수
                        <div class="column-sort"></div>
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('genre')">앱분류
                        <div class="column-sort"></div>
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('volume')">앱용량
                        <div class="column-sort"></div>
                    </a>
                </th>
                <th scope="col">
                    <a href="javascript:getOneStoreItems('released')">발매일
                        <div class="column-sort"></div>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody id="ranking-table-body">
            {% for app in apps %}
                <tr>
                    <td class="center">{{ app.market_appid }}</td>
                    <td class="left">
                <span class="app-name">
                    <img alt="app-icon" width="38" height="38" class="app-icon false"
                         src="{{ app.icon_url }}">
                    <span>
                    <span>{{ app.app_name }}</span>
                    </span>
                </span>
                    </td>
                    <td class="center">{{ app.downloads }}</td>
                    <td class="center">{{ app.genre }}</td>
                    <td class="center">{{ app.volume }}</td>
                    <td class="center">{{ app.released }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </main>
    {% include "includes/modal.html" %}
    <script>
        let sortingKey = "created_at"
        let reversed = true

        getOneStoreItems("created_at", 200, 0)
    </script>
{% endblock %}
