{% extends "base.html" %}
{% load static %}
{% block title %}{{ following.app_name }} | {{ following.market_appid }}{% endblock %}
{% block content %}
    {% include 'includes/navstabs.html' %}
    <div id="myLarge">
        <div class="dialog container-lg">
            <div class="content">
                <div class="content modal-body">
                    <div class="card-header bg-white" style="border-radius: 20px; padding: 30px;">
                        <img src="{{ app.icon_url }}" alt="{{ app.app_name }}" style="margin-right: 20px;"
                             class="product-hero__media-image-img">
                        <h3 class="title" style="font-weight: 900;">{{ following.app_name }}</h3>
                        <h3 class="card-subtitle" style="margin: 0;">{{ following.market_appid }}</h3>
                        <a style="font-weight: 900;" href="{{ app.app_url }}">{{ following.market }}</a>
                        <p>
                            <a href="mailto:{{ app.app_info.email }}">{{ app.app_info.email }}<br>{{ app.app_info.phone }}
                            </a></p>
                    </div>
                    <div class="body">
                        <article class="accordion" id="accordion-1">
                            <div id="canvas1"></div>
                            <table class="flake-ui table second small rect use-selection bordered" id="downloadTable">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 15%" class="center">아이콘</th>
                                    <th scope="col" style="width: 35%" class="center">앱이름</th>
                                    <th scope="col" style="width: 35%" class="center">측정일</th>
                                    <th scope="col" style="width: 15%" class="center">다운로드</th>
                                </thead>
                                <tbody id="downloadTableBody"></tbody>
                            </table>
                        </article>
                        <article class="accordion" id="accordion-2">
                            <div id="canvas2"></div>
                            <table class="flake-ui table second small rect use-selection bordered" id="trackingTable">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 12%" class="center">아이콘</th>
                                    <th scope="col" style="width: 40%" class="center">앱이름</th>
                                    <th scope="col" style="width: 12%" class="center">마켓</th>
                                    <th scope="col" style="width: 12%" class="center">분야</th>
                                    <th scope="col" style="width: 12%" class="center">일자</th>
                                    <th scope="col" style="width: 12%" class="center">실시간 순위</th>
                                </thead>
                                <tbody id="trackingTableBody"></tbody>
                            </table>
                        </article>
                        <article class="accordion" id="accordion-3">
                            <div id="canvas3"></div>
                            <table class="flake-ui table second small rect use-selection bordered" id="dailyRankTable">
                                <thead>
                                <tr>
                                    <th scope="col" style="width: 12%" class="center">아이콘</th>
                                    <th scope="col" style="width: 40%" class="center">앱이름</th>
                                    <th scope="col" style="width: 12%" class="center">마켓</th>
                                    <th scope="col" style="width: 12%" class="center">분야</th>
                                    <th scope="col" style="width: 12%" class="center">일자</th>
                                    <th scope="col" style="width: 12%" class="center">일간 순위</th>
                                </thead>
                                <tbody id="dailyRankTableBody"></tbody>
                            </table>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        const getParams = (name) => {
            const params = window.location.search.substring(1).split("&")
            console.log(params)
            const target = params.filter(value => value.startsWith(name))
            console.log(target)
            return target[0].split("=")[1]
        }

        let app_id = "{{ following.id }}"
        let pkg_id = "{{ package_name }}" || getParams("pkg")

        $('#myChart2').remove()
        axios.get(`/v2/tracking/statistics?app=${app_id}`)
            .then((res) => {
                if (!res.data.items.length) {
                    $("#trackingTable").empty();
                    return
                }
                let temp_rank = 100
                let up = false
                _.forEach(res.data.items, (item, i) => {
                    let {app, app_name, chart_type, updated_at, icon_url, market, rank} = item
                    if (temp_rank === rank) return
                    else {
                        if (temp_rank > rank) {
                            temp_rank = rank
                            up = true;
                        } else if (temp_rank < rank) {
                            temp_rank = rank
                            up = false;
                        }
                    }
                    let template = `<tr>
                        <td class="center"><img src="${icon_url}" alt=${app} width="24"></td>
                        <td class="center">${app_name}</td>
                        <td class="center">${market}</td>
                        <td class="center">${chart_type}</td>
                        <td class="center">${moment(updated_at).format("MM월DD일 HH시")}</td>
                        <td class="center">${rank} 위 ${up ? '🚀' : "🛬"}</td></tr>`
                    $("#myLarge #trackingTableBody").prepend(template)
                })
                $("#canvas2").append(`<canvas id="myChart2" class="bg-white table bordered" width="600" height="200"></canvas>`)
                let ctx2 = document.getElementById('myChart2').getContext('2d');
                let labels2 = _.map(res.data.items, item => moment(item['updated_at']).format("DD일 HH시"))
                let data2 = {
                    labels: labels2,
                    datasets: [{
                        label: "실시간 랭킹",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: _.map(res.data.items, item => item["rank"])
                    }]
                }
                let config2 = {
                    type: 'line',
                    data: data2,
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                reverse: true,
                                min: 0,
                                max: 100,
                            },
                        }
                    }
                }
                let myChart2 = new Chart(
                    ctx2,
                    config2
                )
                myChart2.draw()
            })

        $('#myChart3').remove()
        axios.get(`/v2/tracking/daily?app=${app_id}`)
            .then((res) => {
                if (!res.data.items.length) {
                    $("#dailyRankTable").empty();
                    return
                }
                let temp_rank = 100
                let up = false
                _.forEach(res.data.items, (item, i) => {
                    let {app, app_name, chart_type, date, icon_url, market, rank} = item
                    if (temp_rank === rank) {
                        up = false
                    } else if (temp_rank > rank) {
                        temp_rank = rank
                        up = true
                    } else if (temp_rank < rank) {
                        temp_rank = rank
                        up = false
                    }
                    let template = `<tr>
                        <td class="center"><img src="${icon_url}" alt=${app} width="24"></td>
                        <td class="center">${app_name}</td>
                        <td class="center">${market}</td>
                        <td class="center">${chart_type}</td>
                        <td class="center">${moment(date['date'], "YYYYMMDDHHmm").format("MM월 DD일")}</td>
                        <td class="center">${rank} 위 ${up ? "🚀" : "📉"}</td></tr>`
                    $("#myLarge #dailyRankTableBody").prepend(template)
                })
                $("#canvas3").append(`<canvas id="myChart3" class="bg-white table bordered" width="600" height="200"></canvas>`)
                let ctx3 = document.getElementById('myChart3').getContext('2d');
                let labels3 = _.map(res.data.items, item => moment(item['date']['date'], "YYYYMMDDHHmm").format("MM월 DD일"))
                let data3 = {
                    labels: labels3,
                    datasets: [{
                        label: "일간 랭킹",
                        backgroundColor: 'rgb(123,100,255)',
                        borderColor: 'rgb(123,100,255)',
                        data: _.map(res.data.items, item => item["rank"])
                    }]
                }
                let config3 = {
                    type: 'line',
                    data: data3,
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                reverse: true,
                                min: 0,
                                max: 100,
                            },
                        }
                    }
                }
                let myChart3 = new Chart(
                    ctx3,
                    config3
                )
                myChart3.draw()
            })

        $('#myChart1').remove()
        axios.get(`/v2/downloads?app=${pkg_id}`)
            .then((res) => {
                if (!res.data.items.length) {
                    $("#downloadTable").empty();
                    return
                }
                _.forEach(res.data.items, (item, i) => {
                    let {app, app_name, updated_at, downloads, icon_url,} = item
                    let template = `<tr>
                        <td class=""><img src="${icon_url}" alt=${app} width="24"></td>
                        <td class="">${app_name}</td>
                        <td class="">${moment(updated_at).format("YY.MM.DD. HH:mm")}</td>
                        <td class="">${downloads}</td>
                        </tr>`
                    $("#myLarge #downloadTableBody").prepend(template)
                })
                $("#canvas1").append(`<canvas id="myChart1" class="bg-white table bordered" width="600" height="200"></canvas>`)
                let ctx1 = document.getElementById('myChart1').getContext('2d');
                let labels1 = _.map(res.data.items, item => moment(item['updated_at']).format("DD일 HH시"))
                let data1 = {
                    labels: labels1,
                    datasets: [{
                        label: "다운로드 수",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: _.map(res.data.items, item => item["downloads"])
                    }]
                }
                let config1 = {
                    type: 'line',
                    data: data1,
                    options: {
                        responsive: true,
                        scales: {
                            y: {
                                reverse: false,
                            },
                        }
                    }
                }
                let myChart1 = new Chart(
                    ctx1,
                    config1
                )
                myChart1.draw()
            })
    </script>
{% endblock %}
