{% extends "base.html" %}
{% load static %}
{% block title %}RANKING{% endblock %}
{% block content %}
    <main id="root">
        <table class="flake-ui table second small rect use-selection bordered" style="border-radius: 0.25rem;">
            <thead>
            <tr>
                <th scope="col">
                    <div>앱 ID
                        <div class="column-sort"></div>
                    </div>
                </th>
                <th scope="col">
                    <div>앱이름
                        <div class="column-sort"></div>
                </div>
            </th>
            <th scope="col">
                <div>다운수
                    <div class="column-sort"></div>
                </div>
            </th>
            <th scope="col">
                <div>앱분류
                    <div class="column-sort"></div>
                </div>
            </th>
            <th scope="col">
                <div>앱용량
                    <div class="column-sort"></div>
                </div>
            </th>
                <th scope="col">
                    <div>발매일
                        <div class="column-sort"></div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="ranking-table-body">
            {% for app in apps %}
            <tr>
                <td class="center">{{ app.market_appid }}</td>
                <td class="left">
                <span class="app-name">
                    <img alt="app-icon" width="38" height="38" class="app-icon false"
                         src="{{ app.icon_url }}">
                    <span>
                    <span>{{ app.app_name }}</span>
                    </span>
                </span>
                </td>
                <td class="center">{{ app.downloads }}</td>
                <td class="center">{{ app.genre }}</td>
                <td class="center">{{ app.volume }}</td>
                <td class="center">{{ app.released }}</td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </main>
    <script>
        const ranking = (response) => {
            const {market_appid, icon_url, app_name, downloads, volume, genre, released} = response
            const template = `<tr>
                <td class="center">${market_appid}</td>
                <td class="left">
                <span class="app-name">
                    <img alt="app-icon" width="38" height="38" class="app-icon false"
                         src="${icon_url}">
                    <span>
                    <span>${app_name}</span>
                    </span>
                </span>
                </td>
                <td class="center">${downloads}</td>
                <td class="center">${genre}</td>
                <td class="center">${volume}</td>
                <td class="center">${released}</td>
            </tr>`
        }
    </script>
{% endblock %}