{% extends "base.html" %}
{% load static %}
{% block title %}STATISTIC{% endblock %}
{% block content %}
    {% include "includes/nav_filter.html" %}
    <main id="root">
        <table class="flake-ui table second small rect bordered" style="border-radius: 0.25rem;">
            <colgroup>
                <col style="width: 5rem;">
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th scope="col">
                    <div>순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div>무료 순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div>유료 순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
                <th scope="col">
                    <div>매출 순위
                        <div class="column-sort">
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="statistic-table-body">
            <tr>
                {% regroup apps by rank as ranked_apps %}
                {% for ranked_app in ranked_apps %}
                    {% if ranked_app.list|length == 3 %}
                        <td class="center">{{ ranked_app.grouper }}</td>
                        {% for app in ranked_app.list %}
                            <td class="left"><span class="app">
                    <img alt="app-icon" height="38" width="38" class="app-icon false"
                         src="{{ app.icon_url }}">
                    <span class="text">
                    <span>{{ app.app_name }}</span>
                    </span></span></td>
                        {% endfor %}
                    {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <script>
        function getData(market, ranking) {
            return axios.get(`/api/ranking?store=${market}&rtype=${ranking}&deal=market&game=app&sort=created_at&reverse=true`)
                .then((res) => res.data)
                .then((data) => data.items)
        }

        const getResults = async () => {
            let free = await getData("google", "free")
            let paid = await getData("google", "paid")
            let gross = await getData("google", "gross")
            const item_array = _.groupBy([...free, ...paid, ...gross], 'rank')
            _.forEach(item_array, (items, rank) => {
                let template = `<tr><td class="center">${rank}</td>`
                _.forEach(items, (item) => {
                    let {app_name, icon_url} = item
                    template += `<td class="left"><span class="app">
            <img alt="app-icon" height="38" width="38" class="app-icon false" src="${icon_url}">
            <span class="text"><span>${app_name}</span></span></span></td>`
                })
                template += `</tr>`
                $("tbody#statistic-table-body").append(template)
            })
        }

        getResults()
    </script>
{% endblock %}