{% extends "base.html" %}
{% block content %}
    <table class="flake-ui table second small rect bordered" style="border-radius: 0.25rem;">
        <colgroup>
            <col style="width: 5rem;">
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <tr>
            <th scope="col">
                <div>순위
                    <div class="column-sort">
                    </div>
                </div>
            </th>
            <th scope="col">
                <div>무료 순위
                    <div class="column-sort">
                    </div>
                </div>
            </th>
            <th scope="col">
                <div>유료 순위
                    <div class="column-sort">
                    </div>
                </div>
            </th>
            <th scope="col">
                <div>매출 순위
                    <div class="column-sort">
                    </div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% regroup apps by rank as ranked_apps %}
            {% for ranked_app in ranked_apps %}
                {% if ranked_app.list|length == 3 %}
                    <td class="center">{{ ranked_app.grouper }}</td>
                    {% for app in ranked_app.list %}
                        <td class="left"><span class="app">
                    <img alt="app-icon" height="38" width="38" class="app-icon false"
                         src="{{ app.icon_url }}">
                    <span class="text">
                    <span>{{ app.app_name }}</span>
                    </span></span></td>
                    {% endfor %}
                {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}